// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);

/* fontawesome */
@import url(https://weloveiconfonts.com/api/?family=fontawesome);
[class*="fontawesome-"]:before {
  font-family: 'Myrica M', 'MyricaM M', 'Consolas';
}

/* Simple Reset */
* { margin: 0; padding: 0; box-sizing: border-box; }

body {
  background-color: white;
  color: #5e5e5e;
  font: 400 87.5%/1.5rem 'Myrica M', 'MyricaM M', 'Consolas';
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 8%;
  text-decoration: none;
  color: #8c8c8c;
  background-color: #e9e9e9;
  font-weight: bold;
  padding: 0.5rem 2rem;
}

.header h1 {
  line-height: 2rem;
  font-size: 2rem;
  margin: 0;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: #8c8c8c;
}

.subtitle {
  position: absolute;
  top: 8%;
  height: 7%;
  text-align: center;
  padding: 0.4rem 0;
}

.subtitle h2 {
  line-height: 2rem;
  font-size: 2rem;
  margin: 0;
  width: 70%;
}

.subtitle a {
  position: absolute;
  top: 5%;
  left: 5%;
  text-align: left;
  margin: 1rem;
  font-size: 1.2rem;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 5%;
  color: #c0c0c0;
  background-color: #e9e9e9;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0.4rem 2rem;
  text-align: right;
}
