.card-title {
  margin-left: 2rem;
}

.main_card {
  width: 50%;
  margin: 1rem auto;
  padding: 1rem 1.5rem;
}

.function_card {
  width: 50%;
  margin: 1rem auto;
  padding: 1rem 1.5rem;
}

.function_card button {
  padding: 0.8rem 2rem;
  margin: 0.5rem auto;
}
