.card-title {
  margin-left: 2rem;
}

.main_card {
  width: 60%;
  margin: 0.5rem auto 0;
  padding: 1rem;
}

.function_card {
  width: 60%;
  margin: 0.5rem auto 0;
  padding: 0.5rem;
}

@media screen and (max-width:1024px) {
  .main_card {
    width: 90%;
  }

  .function_card {
    width: 90%;
  }
}

.function_card button {
  width: 100%;
  padding: 0.5rem 1rem;
  margin: 0.5rem auto;
  font-size: 2rem;
}
