#group_id {
  width: 80%;
}

#btn_select {
  background-image: url('img/update.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  width: 15%;
  margin: 0 0 0 auto;
}

#note_name {
  margin: 0.5rem auto 0;
}
