.card-body p {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.note_title p {
  font-size: 1.5rem;
}

.card-body .int
{
  text-align: right;
}

.row p {
  padding: 0;
}

.memo {
  white-space: pre-wrap;
}

.note_item_title  {
  margin-top: 0;
}

.btn_remove {
  max-width: 2.5rem;
  margin-right: 0;
}

@media screen and (max-width:1024px) {
  .note_title p {
    font-size: 1.2rem;
  }
}
